body {
    font-family: sans-serif;
    background-color: #ecfccf;
    font-size: 16px;
    color: #607260;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: sans-serif;
}

code,
pre {
    font-family: monospace;
}

body > h1 {
    display: none;
}

a {
    color: #5c905c;
}

a:hover,
a:focus {
    color: #5c905c;
    text-decoration: underline;
}

h2 {
    border-bottom: 1px solid #607260;
}

.basic-info {
    padding: 20px 0;
}

.links {
    padding: 20px 0;
}

.basic-info ul {
    list-style-type: none;
    padding-left: 0;
}

#my-name {
    font-size: 2em;
}

@font-face {
    font-family: 'Flaticon-fjyuu-000';
    src: url("../fonts/flaticon.svg") format("svg");
    src: url("../fonts/flaticon.ttf") format("truetype");
}

.flaticon {
    display: inline-block;
    font-family: "Flaticon-fjyuu-000";
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.flaticon-graduate:before {
    content: "\e000";
}

.flaticon-pin:before {
    content: "\e001";
}

.flaticon-wordpress:before {
    content: "\e002";
}

.basic-info .flaticon {
    width: 2em;
    text-align: center;
}
